<!-- 头像 -->

{{if issignin}}
<li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
        <span class="tpl-header-list-user-nick">欢迎你，</span>
        <span class="tpl-header-list-user-nick" style="font-weight: bold;">{{username}}</span>
        <span class="tpl-header-list-user-ico">
            <img src="static/images/user01.png">
        </span>
    </a>

    <ul class="am-dropdown-content">
        <li>
            <a href="#">
                <span class="am-icon-bell-o"></span> 资料</a>
        </li>
        <li>
            <a href="#">
                <span class="am-icon-cog"></span> 设置</a>
        </li>
        <li id='userLogoutLi'>
            <a href="#">
                <span class="am-icon-power-off" ></span> 退出</a>
        </li>
    </ul>
</li>
{{/if}}


{{if !issignin}}
<!-- 登录 -->
<li class="am-hide-sm-only">
    <div class="am-topbar-right">
        <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" id="userLoginBtn">登录</button>
    </div>
</li>

<!-- 注册 -->
<li class="am-hide-sm-only">
    <div class="am-topbar-right">
        <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" id="userSignupBtn">注册</button>
    </div>
</li>

<!-- logout -->
<li>
    <a href="###" class="tpl-header-list-link">
        <span class="am-icon-sign-out tpl-header-list-ico-out-size"></span>
    </a>
</li>
{{/if}}